@import "tailwindcss" source("./");

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
:root {
  --background: hsl(0 71.4286% 98.6275%);
  --foreground: hsl(215 27.907% 16.8627%);
  --card: hsl(204 100% 97.0588%);
  --card-foreground: hsl(215 27.907% 16.8627%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(215 27.907% 16.8627%);
  --primary: hsl(346.8367 77.1654% 49.8039%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(188.7379 94.4954% 42.7451%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(215 20.2247% 65.098%);
  --muted-foreground: hsl(215.3846 16.318% 46.8627%);
  --accent: hsl(47.9476 95.8159% 53.1373%);
  --accent-foreground: hsl(215 27.907% 16.8627%);
  --destructive: hsl(0 84.2365% 60.1961%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(328.6154 85.5263% 70.1961%);
  --input: hsl(214.2857 31.8182% 91.3725%);
  --ring: hsl(346.8367 77.1654% 49.8039%);
  --chart-1: hsl(346.8367 77.1654% 49.8039%);
  --chart-2: hsl(188.7379 94.4954% 42.7451%);
  --chart-3: hsl(47.9476 95.8159% 53.1373%);
  --chart-4: hsl(328.6154 85.5263% 70.1961%);
  --chart-5: hsl(335.1724 68.5039% 49.8039%);
  --sidebar: hsl(325.7143 77.7778% 94.7059%);
  --sidebar-foreground: hsl(215 27.907% 16.8627%);
  --sidebar-primary: hsl(333.3333 71.4286% 50.5882%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(328.6154 85.5263% 70.1961%);
  --sidebar-accent-foreground: hsl(215 27.907% 16.8627%);
  --sidebar-border: hsl(325.9091 84.6154% 89.8039%);
  --sidebar-ring: hsl(333.3333 71.4286% 50.5882%);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 2rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(346.8367 77.1654% 49.8039% / 0.25);
  --shadow-xs: 3px 3px 0px 0px hsl(346.8367 77.1654% 49.8039% / 0.25);
  --shadow-sm:
    3px 3px 0px 0px hsl(346.8367 77.1654% 49.8039% / 0.5),
    3px 1px 2px -1px hsl(346.8367 77.1654% 49.8039% / 0.5);
  --shadow:
    3px 3px 0px 0px hsl(346.8367 77.1654% 49.8039% / 0.5),
    3px 1px 2px -1px hsl(346.8367 77.1654% 49.8039% / 0.5);
  --shadow-md:
    3px 3px 0px 0px hsl(346.8367 77.1654% 49.8039% / 0.5),
    3px 2px 4px -1px hsl(346.8367 77.1654% 49.8039% / 0.5);
  --shadow-lg:
    3px 3px 0px 0px hsl(346.8367 77.1654% 49.8039% / 0.5),
    3px 4px 6px -1px hsl(346.8367 77.1654% 49.8039% / 0.5);
  --shadow-xl:
    3px 3px 0px 0px hsl(346.8367 77.1654% 49.8039% / 0.5),
    3px 8px 10px -1px hsl(346.8367 77.1654% 49.8039% / 0.5);
  --shadow-2xl: 3px 3px 0px 0px hsl(346.8367 77.1654% 49.8039% / 1.25);
  --tracking-normal: normal;
}

.dark {
  --background: hsl(222.2222 47.3684% 11.1765%);
  --foreground: hsl(204 100% 97.0588%);
  --card: hsl(217.2414 32.5843% 17.451%);
  --card-foreground: hsl(204 100% 97.0588%);
  --popover: hsl(217.2414 32.5843% 17.451%);
  --popover-foreground: hsl(204 100% 97.0588%);
  --primary: hsl(47.9476 95.8159% 53.1373%);
  --primary-foreground: hsl(222.2222 47.3684% 11.1765%);
  --secondary: hsl(187.9412 85.7143% 53.3333%);
  --secondary-foreground: hsl(222.2222 47.3684% 11.1765%);
  --muted: hsl(215 13.7931% 34.1176%);
  --muted-foreground: hsl(217.8947 10.6145% 64.902%);
  --accent: hsl(42.6977 96.4126% 56.2745%);
  --accent-foreground: hsl(222.2222 47.3684% 11.1765%);
  --destructive: hsl(0 90.604% 70.7843%);
  --destructive-foreground: hsl(222.2222 47.3684% 11.1765%);
  --border: hsl(215.2941 25% 26.6667%);
  --input: hsl(217.2414 32.5843% 17.451%);
  --ring: hsl(187.9412 85.7143% 53.3333%);
  --chart-1: hsl(47.9476 95.8159% 53.1373%);
  --chart-2: hsl(187.9412 85.7143% 53.3333%);
  --chart-3: hsl(42.6977 96.4126% 56.2745%);
  --chart-4: hsl(0 90.604% 70.7843%);
  --chart-5: hsl(346.8367 77.1654% 49.8039%);
  --sidebar: hsl(215.6757 64.9123% 11.1765%);
  --sidebar-foreground: hsl(204 100% 97.0588%);
  --sidebar-primary: hsl(330.3659 81.1881% 60.3922%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(328.6154 85.5263% 70.1961%);
  --sidebar-accent-foreground: hsl(215 27.907% 16.8627%);
  --sidebar-border: hsl(215.2941 25% 26.6667%);
  --sidebar-ring: hsl(330.3659 81.1881% 60.3922%);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 2rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(215.2941 25% 26.6667% / 0.25);
  --shadow-xs: 3px 3px 0px 0px hsl(215.2941 25% 26.6667% / 0.25);
  --shadow-sm:
    3px 3px 0px 0px hsl(215.2941 25% 26.6667% / 0.5),
    3px 1px 2px -1px hsl(215.2941 25% 26.6667% / 0.5);
  --shadow:
    3px 3px 0px 0px hsl(215.2941 25% 26.6667% / 0.5),
    3px 1px 2px -1px hsl(215.2941 25% 26.6667% / 0.5);
  --shadow-md:
    3px 3px 0px 0px hsl(215.2941 25% 26.6667% / 0.5),
    3px 2px 4px -1px hsl(215.2941 25% 26.6667% / 0.5);
  --shadow-lg:
    3px 3px 0px 0px hsl(215.2941 25% 26.6667% / 0.5),
    3px 4px 6px -1px hsl(215.2941 25% 26.6667% / 0.5);
  --shadow-xl:
    3px 3px 0px 0px hsl(215.2941 25% 26.6667% / 0.5),
    3px 8px 10px -1px hsl(215.2941 25% 26.6667% / 0.5);
  --shadow-2xl: 3px 3px 0px 0px hsl(215.2941 25% 26.6667% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
